@tailwind base;
@tailwind components;
@tailwind utilities;

.water-effect {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-size: 20px 200px;
    animation: wave-pulse 3s ease-out infinite;
  }
  
  @keyframes wave-pulse {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    50% {
      transform: translate(-10px, -10px);
      opacity: 0.5;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }